.rmodal {
    &__dropdown {
        font-size: 1.5rem;
    }

    &__contImagen {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        
    }
    ////////////////////////////////////////////////////
    &__contImagenesH:hover {
        background-color:lightblue;
        border-radius: 10px;
    }
    &__contImagenesP:hover {
        background-color:green;
        border-radius: 10px;
    }
    &__contImagenesF:hover {
        background-color:red;
        border-radius: 10px;
    }
    ///////////////////////////////////////////////
    &__imagenes {
        width: 50%;
    }
}

.flex {
    display: flex;
}

.lightblue{
    background-color: lightblue;
    border: none;
}
.green{
    background-color: green;
    border: none;
}
.red{
    background-color: red;
    border: none;
}

//animacion
@keyframes animar {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animar{
    animation-name: animar;
    animation-duration: 2s;
}
